<div class="container" style="background-color: white; min-height: 455px;">
<div class="bookings-views text-center">
  <h1>My bookings</h1>
</div>
<div class="d-flex">
  <div class="booking-card">
    <h2> Upcoming bookings </h2>
    <% @bookings.each do |booking| %>
      <div class="display-future p-2">
        <%= cl_image_tag(booking.car.photo.key, width: 300, crop: :fill) %>
        <div>     
          <h4><strong> <%=link_to booking.car.title, car_path(booking.car) %></strong></h4>
          <p>£<%= booking.car.price %> per day</p>
          <p>Start: <%= booking.start_date %></p>
          <p>End: <%= booking.end_date %></p>
          <p><%= link_to "❌ Cancel booking", booking_path(booking), method: :delete, data: {confirm: "Are you sure?"} %></p>
        </div>
        
      </div>
      <% end %>
  </div>

  <div>
    <h2> Past bookings </h2>
    <p>You have no past bookings</p>
  </div>
  
</div>
 <%= link_to 'Back', root_path, class: "btn btn-dark mb-2" %>
</div>