 <div class="homepage-banner" style= "background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1587580945215-5d4aabb2c8ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80')">
  <div class="container">
    <div class="form-wrapper" style="width: 800px; margin: 0 auto;">
      <br>
      <%= simple_form_for :search, method: "get", class: 'form-inline' do |f| %>
      <div class="row">
        <div class="col-3">
        <%= f.input :starts_at, as: :string, required: false, label: false, input_html: {class: "datepicker form-control", placeholder: "Start date"} %>
        </div>
        <div class="col-3">
        <%= f.input :ends_at, as: :string, required: false, label: false, input_html: {class: "datepicker form-control", placeholder: "End date"} %>
        </div>
        <div class="col-3">
        <%= f.input :brand, as: :string, required: false, label: false, input_html: {class: "form-control", value: params.dig(:search, :brand), placeholder: "Find a car" }%>
        </div>
        <div class="col">
        <button name="button" type="submit" class="btn btn-flat button-green btn-cta">
          <i class="fas fa-search"></i> Search
        </button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


  <div class="cards">
      <% @cars.each do |car| %>
        <div class="card-trip">
          <% if car.photo.attached? %>
            <img src="<%= cl_image_path car.photo.key %>" />
          <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to car.title, car_path(car) %></h2>
          </div>
          <h2 class="card-trip-pricing">£<%=car.price %> /day</h2>
          <% if car.user.photo.attached? %>
            <img src='<%= cl_image_tag car.user.photo.key %>' class='card-trip-user avatar-bordered' />
          <% else %>
            <img src="https://www.pikpng.com/pngl/m/263-2631740_empty-avatar-png-user-png-clipart.png" class="card-trip-user avatar-bordered" />
          <% end %>
        </div>
        </div>
        <% end %>
  </div>

