



<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Hire out your car", "#", class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
    <h2 class="text-center">Open with the app, go in an instant</h2>
    <div class="cards">
<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <p>Add a location</p>
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
  </div>
<% end %>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <p>Add a start date</p>
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
  </div>
<% end %>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <p>Add a end date</p>
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
  </div>
<% end %>
  </div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made by <i class="fas fa-car-side"></i> from London
  </div>
</div>
