<div class="container car-details">
  <!-- Car photo bootstrap carousel -->
  <div class="container car-description">

    <h1><%= @car.title %></h1>
    <h3>£<%= @car.price %>/ day </h3>
    <br>
    <ul> 
      <li><%= @car.brand %></li>
      <li>Model: <%= @car.model %></li>

      <li>Description: <br> <%= @car.description %> </li>

    </ul>
    <%= link_to 'Back', root_path, class: "btn btn-dark" %>
    <br>
  </div>

  <div class="container about-owner">
    <p>About owner:</p>

    <!-- user.avatar-->

    <%= @car.user.description %>
  </div>
  <div class="container">
    <%= simple_form_for [@car, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit "Book this 🚙", class: "btn btn-primary" %>
    <% end %>
  </div>
