<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirbnbClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-kar" style="position: sticky; top: 0; z-index: 500">
      <a href="/"><i class="fas fa-car-side"></i></a>
      <%= link_to "Hire out your car", "/cars/new", class: "btn btn-flat" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= link_to "Rent your car", "/cars/new", class: "btn btn-flat button-green" %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made by <i class="fas fa-car-side"></i> from London
      </div>
    </div>
  </body>
</html>

